* {
    box-sizing: border-box;
    font-family: Roboto Mono;
    margin: 0;
    padding: 0;
    text-align: center;
}

*:focus {
    outline: none;
}

.wrapper {
    align-items: center;
    background: linear-gradient(to right bottom, #F5F5F5, #C8C8C8, #FFFFFF, #BEBEBE, #E8E8E8, #D3D3D3, #FFFFFF);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

#my_select {
    border: 5px outset lightgrey;
    color: darkgrey;
    cursor: pointer;
    font-size: 25px;
    height: 10vh;
    margin: auto;
    margin-top: 20px;
    transition: all .5s;
    width: calc(40vw + 40px);
}

input {
    border: 5px outset lightgrey;
    border-radius: 15px;
    height: 10vh;
    margin: 20px;
    width: 20vw;
}

button {
    cursor: pointer;
    margin-top: 5vh;
    margin-bottom: 2vh;
    text-transform: uppercase;
}

#result {
    color: white;
    font-size: 30px;
    line-height: 15vh;
}

#frame {
    background-color: rgba(255, 255, 255, .3);
    border: 10px inset lightgrey;
    height: 70vh;
    width: 65vw;
}

#submit_button {
    border: 5px outset lightgrey;
    border-radius: 5px;
    color: darkgrey;
    font-size: 25px;
    height: 10vh;
    margin: auto;
    transition: all .5s;
    width: calc(40vw + 40px); 
}

#submit_button:hover, #my_select:hover {
    background-color: rgba(0, 0, 0, .2);
    color: white;
}

#submit_button:focus, #my_select:hover {
    outline: none;
}